@import "@fontsource-variable/lexend";
@import "tailwindcss";
@import "@splidejs/react-splide/css";

@import "./themes.css";
@import "./daisyui.css";

body {
  font-family: "Lexend Variable", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Toast enter animation */
.toast-animate-enter {
  animation: toastSlideIn 0.4s ease-out forwards;
}

/* Toast exit animation */
.toast-animate-exit {
  animation: toastSlideOut 0.4s ease-in forwards;
}

@keyframes toastSlideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toastSlideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.splide__arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
  z-index: 10 !important;
}

.splide__arrow--prev {
  left: -2.5rem !important;
  background: none !important;
}

.splide__arrow--next {
  right: -2.5rem !important;
  background: none !important;
}
